@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: rgb(79, 174, 237);
    --secondary-color: rgb(250, 250, 250);
    --text-color: rgb(50, 50, 50);
    --font-family: "Inter", sans-serif;
}

body {
    font-family: var(--font-family);
}


section {
    padding: 0px 35px;
}


header {
    display: flex;
    background: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}


header ul {
    display: flex;
    gap: 18px;
    list-style: none;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.9px;
    font-family: "Inter", sans-serif;
}

button {
    background-color: var(--primary-color);
    padding: 18px 20px 18px 20px;
    border: none;
    border-radius: 50%;
}

button i {
    font-size: 24px;
    color: #ffffff;
}

/* banner started */

.banner {
    /* background-image: url(../images/images/Banner.png); */
    background-image: url(../images/images/Banner.png);
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .bg-image {
    display: flex;
    flex-direction: column;
    gap: 24px;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
}

.banner .bg-image h1 {
    font-size: 54px;
    letter-spacing: 0.8px;
    color: var(--secondary-color);
}

.banner .bg-image p {
    font-size: 20px;
    color: var(--secondary-color);
    font-weight: 500;
    /* padding-top: ; */
}

.banner .bg-image form {
    background-color: var(--secondary-color);
    padding: 5px 20px;
    border-radius: 60px;
    display: flex;
}

.banner .bg-image form .form-input {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-weight: 600;
    justify-content: center;
    border-right: 2px solid #0000001c;
    padding: 8px 25px;
    margin-right: 10px;
}

.hello {
    border-right: none;
}

.banner .bg-image form .form-input input {
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    width: 240px;
    outline: none;

}

.banner .bg-image form .form-input .hello {
    width: 180px;
}


.from-submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .bg-image form button {
    background-color: var(--primary-color);
    padding: 30px;
    border: none;
    border-radius: 50px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 18px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .bg-image form i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #343434;
}

/* destination start */

.destination {
    overflow: hidden;
}

.title-des {
    text-align: center;
    padding: 50px 0px;
    font-size: 24px;
    color: var(--text-color);
}

.destination .card-img {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;

}

.desc-main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.destination .card {
    text-align: center;
}

.destination .card-img img {
    object-fit: fill;
    height: 500px;
    width: 800px;
}

.destination p {
    font-weight: 600;
    color: var(--text-color);
    margin-top: 5px;
}

.destination .desc-main .card:hover img {
    transform: scaleY(1.8);
    transition: 1s ease-in-out;
}

/* packages start----------------------------------- */

.packages {
    padding-bottom: 50px;
}

.packages .card {
    border: 0.8px solid #34343432;
    border-radius: 12px;
    overflow: hidden;
    /* width: 27rem; */
    box-shadow: 0 0 12px 2px #00000032;
}

.packages .card img {
    width: 100%;
    height: 350px;
    /* object-fit: contain; */
}

.packages .card .fa-heart {
    position: relative;
    left: 372px;
    top: -330px;
    z-index: 99;
    background: #e3cccc60;
    color: azure;
    padding: 13px;
    border-radius: 50%;
    box-shadow: 0 0 12px #000;
}

.pac-det {
    padding: 15px;
}

.pac-det span {
    color: #343434af;
    font-size: 200;
    font-size: 14px;
    margin-right: 8px;
}

.pac-det .reviww span .fa-star {
    margin-bottom: 10px;
    color: #efcb18;
    margin-right: 8px;
}

.pac-det h5 {
    font-size: 22px;
    font-weight: 700;
}

.pac-det .loc,
.pac-det h5 {
    margin-bottom: 10px;

}

.packages .card .price {
    padding: 15px;

}

.packages .card del {
    color: #343434;
    font-weight: 200;
    margin-bottom: 8px;
}

.packages .card .from small {
    color: #34343465;
}

.packages .card .price .from {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.packages .card .price .days {
    color: #34343465;
}

.pac-main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width:768px) {
    .pac-main {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
    }

    .packages .card {
        border: 0.8px solid #34343432;
        border-radius: 12px;
        overflow: hidden;
        /* width: 27rem; */
        box-shadow: 0 0 12px 2px #00000032;
        width: 320px;
    }
}

/* --------------footer start-------------- */

footer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px; 
}

.grid {
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    padding: 50px;
}

.grid-1 {
    background-color: #efcb18;
}
.grid-2 {
    background-color: #fa8253;
}
.grid-3 {
    background-color: #29d8e4;
}
.grid-4 {
    background-color: #e575b3;
}
